#p_btn {
    background-color: rgba(22, 41, 66, 1);
    width: 500px;
    height: 60px;
    margin: 60px auto 0px;
    float: left;
}

#s_btn {
    background-color: rgba(22, 41, 66, 1);
    width: 500px;
    height: 60px;
    margin: 60px auto 0px;
    float: right;
}

.btn_word {
    padding: 8px;
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 30px;
}

#banner {
    margin: 50px auto;
    width: 1010px;
}

#talk_win {
    width: 1010px;
    margin: auto;
    height: 440px;
    overflow-y: auto;
}

.people {
    height: 80px;
    width: 970px;
    background-color: rgba(22, 41, 66, 0.8);
    float: left;
    margin: 10px auto 0px;
    border-style: solid;
    border-width: 20px;
    border-color: rgba(22, 41, 66, 1);
}

.people_name {
    color: white;
    font-size: 30px;
    margin: 20px 80px;
    float: left;
}

.new_msg {
    background-color: lightcoral;
    width: 30px;
    height: 30px;
    text-align: center;
    float: right;
    border-radius: 50px;
    color: white;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
}